[submodule "mod/operator"]
	path = mod/operator
	url = https://github.com/canonical/operator
[submodule "mod/resource-oci-image"]
	path = mod/resource-oci-image
	url = https://github.com/johnsca/resource-oci-image
