*.charm
*.swp
.tox/
.coverage
__pycache__
build
.vscode
.env
venv
env
.pytest_cache
.mypy_cache
*.rock

# Ignore Vale config and StylesPath *except* for our local directories.
.vale/styles/*
!.vale/styles/local
!.vale/styles/config/

.vale/styles/config/*
!.vale/styles/config/vocabularies/

.vale/styles/config/vocabularies/*
!.vale/styles/config/vocabularies/local
