*.charm
*.swp
.tox/
.coverage
__pycache__
build
.vscode
.env
venv
.venv
env
.pytest_cache
.mypy_cache
*.rock
version

# BEGIN VALE WORKFLOW IGNORE
.vale/styles/*
!.vale/styles/local
!.vale/styles/config/

.vale/styles/config/*
!.vale/styles/config/vocabularies/

.vale/styles/config/vocabularies/*
!.vale/styles/config/vocabularies/local
# END VALE WORKFLOW IGNORE
