hostname = $DISCOURSE_HOSTNAME 
developer_emails = $DISCOURSE_DEVELOPER_EMAILS
serve_static_assets = true
db_host = $DISCOURSE_POSTGRES_HOST 
db_username = $DISCOURSE_POSTGRES_USERNAME
db_password = $DISCOURSE_POSTGRES_PASSWORD
db_name = $DISCOURSE_POSTGRES_DB_NAME
smtp_domain = $DISCOURSE_SMTP_DOMAIN
smtp_address = $DISCOURSE_SMTP_ADDRESS
smtp_port = $DISCOURSE_SMTP_PORT
smtp_openssl_verify_mode = $DISCOURSE_SMTP_OPENSSL_VERIFY_MODE
smtp_user_name = $DISCOURSE_SMTP_USER_NAME
smtp_password = $DISCOURSE_SMTP_PASSWORD
smtp_authentication = $DISCOURSE_SMTP_AUTHENTICATION
enable_cors = $DISCOURSE_ENABLE_CORS
cors_origin = $DISCOURSE_CORS_ORIGIN
saml_target_url = $DISCOURSE_SAML_TARGET_URL
saml_cert_fingerprint = $DISCOURSE_CERT_FINGERPRINT
saml_full_screen_login = $DISCOURSE_FULL_SCREEN_LOGIN
refresh_maxmind_db_during_precompile_days = 0
redis_host = $DISCOURSE_REDIS_HOST
redis_port = $DISCOURSE_REDIS_PORT
