name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@debug-2
    secrets: inherit
    with:
      chaos-app-label: app.kubernetes.io/name=discourse-k8s
      chaos-duration: 600
      chaos-enabled: true
      chaos-experiments: pod-delete
      chaos-status-duration: 300
      extra-arguments: --s3-url http://172.17.0.1:4566 -m "not (requires_secrets)"
      pre-run-script: localstack-installation.sh
      trivy-image-config: "trivy.yaml"
