name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      extra-arguments: -x --localstack-address 172.17.0.1
      pre-run-script: localstack-installation.sh
      trivy-image-config: "trivy.yaml"
      juju-channel: 3.1/stable
      channel: 1.28-strict/stable
      modules: '["test_charm", "test_saml"]'
      self-hosted-runner: true
      self-hosted-runner-label: "edge"
