name: Integration tests (require secrets)

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'src-docs/**'
      - 'README.md'
      - 'LICENSE'
      - 'CODEOWNERS'

jobs:
  integration-tests-with-secrets:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      chaos-app-label: app.kubernetes.io/name=discourse-k8s
      chaos-duration: 600
      chaos-enabled: false
      chaos-experiments: pod-delete
      chaos-status-duration: 300
      extra-arguments: --localstack-address 172.17.0.1 -m "requires_secrets"
      pre-run-script: localstack-installation.sh
      trivy-image-config: "trivy.yaml"
