name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@a044ef084db982e6b0050aa96e27baec2326cc89
    secrets: inherit
    with:
      chaos-app-label: app.kubernetes.io/name=discourse-k8s
      chaos-duration: 600
      chaos-enabled: false
      chaos-experiments: pod-delete
      chaos-status-duration: 300
      extra-arguments: --localstack-address 172.17.0.1 -m "not (requires_secrets)"
      pre-run-script: localstack-installation.sh
      trivy-image-config: "trivy.yaml"
