name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      extra-arguments: --s3-url http://172.17.0.1:4566
      pre-run-script: localstack-installation.sh
      chaos-enabled: true
      chaos-experiments: pod-delete
      chaos-app-label: app.kubernetes.io/name=discourse-k8s
      chaos-duration: 180
